#loadingWindow
{
    background: linear-gradient(black,rgb(28, 2, 100));
    position :absolute;
    width:100%;
    height: 100%;
}
#loading
{
    background:grey;
   
    position: absolute;
    width: 50%;
    margin: 0; 
     padding: 0; 
    top: 50%;
    text-align: center;
    left: 25%;
    height: 5px;
   
  
}

#dynamicLoader
{
    background: green;
    width:0%;
    height: inherit;
    position: relative;
    
}
#percentage{
    display: inline-block;
    top: 52%;
    left: 50%;
    position: absolute;
    color: white
  
    
}
